
/* header queries start */

@media screen and (max-width:800px) {
    .header{ 
        background-image: url(./img/bg/bgindexmd.jpg);
    }
    
}

@media screen and (max-width:460px) {
    .header{         
    background-image:url(./img/bg/bgindexsm.jpg);

    }
}


/* header queries end */



/* description queries start */


@media screen and (max-width:800px) {
    .description_backgroundintro{         
        width: 0;

    }
}

@media screen and (max-width:800px) {
    .description_content{
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .description_content_wrapper{
        margin: 10px 15px;
    }
}


/* description queries end */




/* features queries start */


@media screen and (max-width:800px) {
    .features {
        background-image: none;
        background-color: azure;
    }

    .features_content {
        margin-bottom: 0;
    }
    .features_description {
        flex-direction: column;
    }

}
@media screen and (max-width:420px) {
    .features_content h2{
        font-size: 20px
    }
}

/* features queries end */



/*responsive queries start */


@media screen and (max-width:800px) {
    .responsive_backgroundintro{         
        width: 0;

    }
}

@media screen and (max-width:800px) {
    .responsive_content{
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .responsive_content_wrapper{
        margin: 10px 15px;
    }
}

/* responsive queries end */






/* founders queries start */

@media screen and (max-width:800px) {
        .founders {
            height: auto;
            max-height: none;
        }



    .founders_description{
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: none;
        margin-top: 10px;
        
    }


    .founders_partners {
        display: flex;
        flex-direction: column;
    }

    .founders_partners_converse {
        margin-bottom: 10px;
    }
    .founders_partners_levis {
        margin-bottom: 10px;
    }
    .founders_partners_nike {
        margin-bottom: 10px;
    }
    .founders_partners_mango {
        margin-bottom: 10px;
    }
    .founders_partners_puma {
        margin-bottom: 10px;
    }
}


 
/* founders queries end */




/* newfeatures queries start */



@media screen and (max-width:800px) {
    .newfeatures{
        display: flex;
        flex-direction: column;
      
    }

    .newfeatures_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .newfeatures_browserimage {
        display: none;
    }


    .newfeatures_text {
        margin-bottom: 30px;
        text-align: center;
    }
}



/* features queries end*/






/*form queries start */

@media screen and (max-width:800px) {
    .form_userdata {
        display: flex;
        flex-direction: column;
    }
    .form_description {
        display: flex;
        flex-direction: column;
    }


}


/* form queries end */




/* footer queries start */


@media screen and (max-width:800px) {
    .footer_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .footer_email {
        text-align: center;
    }

    .footer_bg {
        display: none;
    }

    .footer_letter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
        margin-bottom:15px;
    }
}

/* footer queries end */

